body{
    font-family: 'Bree Serif', serif;
    position: relative;
}
.rounded-circle{
    height: 200px;
    width: 200px;
    
}
.ortala{
    height: auto;
}
.shadow{
    box-shadow: 0px 0px 8px #000;
    border-radius: 10px;
    background-color: #F9F1F0;
    padding-bottom: 50px;
    
}
.card{
    border-radius: 10px;
}
/* html{
    scroll-behavior: smooth;
} */
#card1{
    background-color: #F9F1F0;
    box-shadow: 0px 0px 8px #000;
}
.navbar{
    box-shadow: 0px 0px 8px #000;
    
}
h2{
    margin-top: 55px;
}
#icons{
    padding: 5px;
    border-radius: 50px;
    font-size: 50px;
    width: 40px;
    background: #120e07;
    margin: 10px 4px;
    color: #ffce54;
}

#icons:hover{
    opacity: 0.7;
}
#backgroundBody{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url(../image/image3.jpeg);
    background-size: cover;
}




